body {
    background-color: #171717;

}
dl {
    background-color: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    width: 45%;
    margin: 0 auto;
}
legend {
    background-color: #76d5f7;
    border-radius: 20px;
}
